*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container{
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  border-style: solid 15px white;
 background: rgb(233, 233, 233);
}
main{
    width:100%;
    height: 100vh;
    background: rgb(233, 233, 233);
    justify-content: center;
    padding-left: 30px;
    box-shadow: 3px white;
    overflow: auto;
    margin-top: 5px !important;
}
main img{
 width: 60%;
  padding-top: 15px;
  /* margin-bottom: 30px; */
}

@media screen and (min-width: 480px) and (max-width: 768px){
  main img{
    width: 60% !important;
    margin-bottom: 10px;
     /* padding-top: 15px; */
   }
}

@media screen and (max-width: 480px){
  main img{
    width: 40% !important;
    margin-bottom: 10px;
     /* padding-top: 15px; */
   }
}

.top-section img{
  width: 130px;
  float: left;
 
}
.sidebar{
  background-color: white;
  /* background-image: linear-gradient( #15f7f7, rgb(8, 8, 68)); */
  color:rgba(3, 4, 44, 0.87);
  height: 100vh;
  width: 35%;
  font-size: 14px;
  /* overflow:auto; */
  /* border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em; */
  padding-left: 10px;
  /* margin: 2px 0px 0px 0px; */
  
}
@media screen and (max-width:480px){
  .sidebar{
    width: 110px !important;
  }
}
.top-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 5px 5px 5px;
  color: rgb(75, 178, 212);
  /* margin-bottom: 60px; */
  margin-top: 15px;
}

.link{
  display: flex;
  color: #0a0430;
  padding: 15px 15px 0px 10px;
  gap: 10px;
  transition: all 0.5s;
  font-size: 12px;
 
  padding-inline-end: 5rem;
}
.link-text{
  padding-top: 6px;
  /* font-weight: bold; */
}
.link-text.active{
  font-weight: bold;
  
}
.link:hover{
  color:#00B4D2;
  font-weight: bold;
  transition: all 0.5ms;
  /* text-shadow: rgb(9, 239, 255) 0.3em 0.3em 0.3em */
}
.link.active{
  font-weight: bolder;
  color: #00B4D2;
  transition: cubic-bezier(2);
  /* text-shadow: rgb(4, 4, 4) 0.3em 0.3em 0.3em */

} 

.icon{
  /* background-image: linear-gradient( #15f7f7, rgb(8, 8, 68)); */
  border-radius: 50%;

  padding: 6px;
  margin-left: 7px;
}
.active .icon{

  background-color: transparent;
  border-radius: 50%; 
  color:#00B4D2; 
  
}


.icon-button{
  background-color: transparent;
  border: none;
  margin: 130px 10px 5px 5px;
  color: #00B4D2;
}
.icon-container {
  /* background-image: linear-gradient( #00B4D2, rgb(8, 8, 68)); */
  width: 16px;
  height: 16px;
  margin-left: 10px;
  border: none; 
  padding: 6px;
  border-radius: 50%;
}
.icon-container:hover{
  cursor: pointer;
  transition: all 0.5ms;
  /* text-shadow: rgb(255, 255, 255) 0.5em 0.5em 0.3em; */
  /* background: linear-gradient(to right, #0e1286d6 0%, #b010a3 100%); */
}

.icon-container > * {
  outline-offset: 0cap;
}

.text {
  background: none;
  padding-top: 50px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}
