.user-roles-container {
  padding: 20px;
  width: 50%;
}

.role-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
   /* Space between the cards */
}

.role-box {
  flex: 0 1 calc(50% - 16px); /* Two cards per row */
  box-shadow: 0px 2px 4px rgb(38, 39, 130);
  border: none;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  width: 60%;
}

.role-box h1 {
  font-size: 20px;
  margin: 0 0 10px 0px;
}

.role-box h2 {
  font-size: 18px;
  margin: 0;
}
